body{
  width:60%;
  margin:auto
  }
h1{
  height:10px;
  color:blue;
  }
h2{
  color:Red;
}
#mainmenu{
  text-align: right;
  background-color:red;
  margin-top:20px;
  padding:10px;
  color:white;
  front-height:bold;
  }
#mainimage{
  width:100%;
  }
